__pycache__/
build/
*.egg-info/
*.so

tmp*
.data/
trial*/
.vs/

TOKEN
*.swp
*.un~

untracked
.ipynb_checkpoints
.virtual_documents

peekaboo_results

thumbnails

best_samples
samples
peekaboo_results_test_setting
strength*
sampling/
a_cat_n_stepping_wood.wav
t2*
t02*
t07*
step*
*.wav